<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1 align="center">Create new customer</h1>
<form method="post" th:object="${customer}">
    <table align="center" style="width: 50vmax">
        <tr>
            <th>Name:</th>
            <td align="center">
                <input type="text" th:field="*{name}" placeholder="Name..." style="width: 550px">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Save">
                <a href="/">
                    <input type="button" value="Cancel">
                </a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>