<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div>
    <a href="/customer"><input type="button" value="(+) New customer"></a>
    <a href="/book"><input type="button" value="(+) New book"></a>
    <a href="/contract"><input type="button" value="(!) Contract List"></a>
</div>
<p th:text="${message}"></p>
<h1 align="center">Book List</h1>
<table border="1" align="center" style="border-radius: 5px; width: 70vmax">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Detail</th>
    </tr>
    <tr th:each="book, loop : ${bookList}">
        <td th:text="${loop.count}" align="center"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.amount}" align="center"></td>
        <td align="center">
            <a th:href="@{/{id}/detail(id = ${book.id})}">
                <input type="button" value="Detail">
            </a>
        </td>
    </tr>
</table>
<h1 align="center">Customer List</h1>
<table border="1" align="center" style="border-radius: 5px; width: 70vmax">
    <tr>
        <th>No</th>
        <th>Name</th>
    </tr>
    <tr th:each="customer, loop : ${customerList}">
        <td th:text="${loop.count}" align="center"></td>
        <td th:text="${customer.name}"></td>
    </tr>
</table>
</body>
</html>