<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updated Blog</title>
</head>
<body>
<a href="/create">
    <input type="button" value="(+) Add">
</a>
<p th:text="${message}"></p>
<table align="center" border="1" width="50%" style="border-radius: 5px">
    <tr>
        <th>Time</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Detail</th>
    </tr>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.initTime}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.category.getCategoryName()}"></td>
        <td>
            <a th:href="@{/{id}/detail(id = ${blog.id})}">
                <input type="button" value="Detail">
            </a>
        </td>
    </tr>
</table>
</body>
</html>