<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Furama resort</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<header th:fragment="header">
    <div class="float-start">
        <img src="/img/logo.jpg" class="rounded" alt="Profile Image">
    </div>
    <div class="float-end">
        <h4>Nguyen Ngoc Bao Nhan</h4>
    </div>
</header>

<div class="navbar" th:fragment="navbar">
    <!-- Content specific to each page will be inserted here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow bg-body-tertiary rounded">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contract">Contract</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<footer>
    <p>&copy; 2023 My Application. All rights reserved.</p>
</footer>


</body>
</html>