p{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: white;
    font-size: 13px;
}
.main-decor{
    width: calc(100% - 72px);
}
.main-decor-vector{
    width: calc(100% - 100px);
    height: 280px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5px;
}
.news-decor-vector{
    width: calc(100%);
    height: 270px;
}
.profile-btn{
    aspect-ratio: 1;
    box-sizing: border-box;
}

.profile-menu.clicked{
    display: flex;
    height: 350px;
}

.profile-menu{
    height: 0;
}

.profile-menu.clicked .menu-item{
    display: flex;
}

.profile-menu .menu-item{
    display: none;
}

.menu-item:hover{
    background-color: rgb(196, 196, 196);
}

.qa-type{
    transition-duration: 0.25s;
}

.underline{
    transition-duration: 0.25s;
    width: 0;
}

.qa-type:hover > .underline{
    width: 100%;
}

.title{
    font-size: 22px;
    font-weight: 400;
}